@import url(reset.css);

:root{

    --cor-sub-titulo : hsl(14, 45%, 36%);
    --cor-destaque : hsl(332, 51%, 32%);
    --cor-main : hsl(0, 0%, 100%);
    --cor-fundo-destacado: hsl(330, 100%, 98%);
    --cor-de-fundo : hsl(30, 54%, 90%);
    --cor-lista : hsl(30, 18%, 87%);
    --cor-texto : hsl(30, 10%, 34%);
    --cor-titulo : hsl(24, 5%, 18%);


    --fonte-titulo : 'Young Serif', sans-serif;
    --fonte-principal : 'Outfit', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    height: 100vw;
}

/* Container */

.container{
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    width: 650px;
    background-color: var(--cor-main);
    padding: 1.5em 2em;    
    border-radius: 10px;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
}

.container__imagem{
    width: 97%;
    border-radius: 10px;
    align-self: center;
    margin: 1.5em;
}

.container__titulo-principal{
    font-size: 1.7em;
    font-weight: 400;
    margin: 20px 0;
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo);
    
}

.container__sub-titulo{
    margin: 1em 0;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--cor-sub-titulo);
    font-family: var(--fonte-titulo);
}

/* Bloco de Destaque */

.container__bloco{
    background-color: var(--cor-fundo-destacado);
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
}

.bloco__titulo-destacado{
    color: var(--cor-destaque);
    font-size: 1.1em;
    font-weight: bold;
}

.bloco__lista {
    padding: 1em;
    list-style-position: inside;
    list-style-type: disc;
}

.bloco__lista > li{
    margin-bottom: 1em;
    list-style: disc;
    list-style-position: inside;
}
.container__lista-ingredientes > li {
    margin-bottom: 1em;
    list-style: disc;
    list-style-position: inside;
}

.bloco__lista > li > strong, .container__lista-instructions > li > strong{
    color: var(--cor-titulo);
}

.container__lista-ingredientes{
    margin-left: 0.5em;
    list-style-position: outside;
}

.container__lista-instructions{
    list-style: decimal;
    list-style-position: outside;
}

.container__lista-instructions > li {
    margin: 1em;
}

.container__lista-instructions > li::marker{
    color: var(--cor-destaque);
}

.container__bloco-calorias{
    margin: 10px;
}

td{
    padding-bottom: 13px;
}

.bloco-calorias__numeros, .bloco-calorias__nomes{
    padding: 15px 0;  
}

.col1, .col2{
    border-bottom: 2px solid var(--cor-lista);
}

.bloco-calorias__nomes{
    padding-left: 15px;
}

.bloco-calorias__numeros {
    color: var(--cor-sub-titulo);
    font-weight: bolder;
}

hr{
    border-color: var(--cor-lista);
    width: 100%;
    margin: 1em 0;
}

.rodape{
    text-align: center;
    background-color: var(--cor-fundo-destacado);
    padding: 0.4em 0;
    color: var(--cor-destaque);
}

.bloco__rodape > p > a{
    text-decoration: none;
    color: var(--cor-destaque);
}

.bloco__rodape > p > a:hover{
    color: black;
}

@media screen and (max-width : 750px) {
    .container{
        margin-top: 0;
        padding: 0;
        font-size: 28px;
    }

    .container__imagem{
        width: 100%;
        margin: 0;
    }

   .container__bloco,.container__lista-ingredientes,.container__texto,.container__bloco-calorias {
        padding-left: 1.5em;

    }

    .container__titulo-principal{
        font-size: 2em;
        margin: 1em;
    }

    .container__sub-titulo{
        font-size: 2em;
        margin: 0.8em;
    }

    .container__bloco{
        margin: 2em;
    }

    .container__lista-instructions{
        padding: 0 2em;
    }

    .container__lista-ingredientes > li{
        list-style-position: outside;
        margin-left: 1em;
    }

    .rodape{
        width: 76vh;
        text-align: center;
    }
}